*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.Main{
    background-image: url("Photo (96).jpg");
    height: 100vh;
    background-size: cover;
}

.opensidebar{
    color: wheat;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 20px;
    top: 33px;
    line-height: 55px;
    cursor: pointer;
}

.closesidebar{
    color: rgba(0, 0, 0, 0.897);
    font-size: 20px;
    line-height: 55px;
    position: absolute;
    left: 250px;
    top: 35px;
    opacity: 0.8;
}

.sidebarmenu{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    border-radius: 30px;
    background-color:rgb(187, 137, 87,0.6);
    box-shadow: 0 0 8px rgb(0, 0, 0,0.5);
}

.sidebarmenu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 6px rgb(0, 0, 0,0.5);
    border-radius: 50px;
}

.sidebarmenu .logo a{
    position: absolute;
    left: 65px;
    top: 30px;
    color: wheat;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
}

.sidebarmenu .Menu{
    color: wheat;
    position: absolute;
    width: 100%;
    top: 100px;
    left: 24px;
}

.sidebarmenu .Menu li{
    list-style: none;
    font-size: larger;
}

.sidebarmenu .Menu li a{
    text-decoration: none;
    color: wheat;
    margin-top: auto;
    padding: 17px;
    line-height: 50px;
}

.sidebarmenu .socialmedia {
    font-size: 25px;
    padding: 20px;
    position: absolute;
    left: 13%;
    bottom: 29px;   
}

.sidebarmenu .socialmedia i{
    opacity: 0.7; 
    color: wheat;
    padding: 5px;
}

#openside{
    display: none;
}

.sidebarmenu .Menu li :hover{
   box-shadow: 0 0 6px rgb(0, 0, 0,0.5);
   border-radius: 50px;
}

.opensidebar i:hover{
     font-size: 40px;
}

.closesidebar i:hover{
    font-size: 25px;
    cursor: pointer;
}

.sidebarmenu .socialmedia i:hover{
    opacity: 1;
    transform: scale(1.5);
}

#openside:checked ~ .sidebarmenu {
    left: 0;
}
